[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "public"]
	path = public
	url = git@github.com:parlonslondon/parlonslondon.github.io.git
	branch = master
