<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img class="sidebar-image-portrait" src="/img/london-portrait.jpg" alt="London, Ontario">
      <img class="sidebar-image-landscape" src="/img/london-landscape.jpg" alt="London, Ontario">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead" id="sitedesc">
      {{ .Site.Params.description_fr }}
      </p>
      <p class="lead" id="sitedesc">
      <i>{{ .Site.Params.description_en }}</i>
      </p>
      <p class="lead" id="siteshortdesc">
      {{ .Site.Params.shortdescription_fr }}
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</aside>
